<div style="text-align:center;">
  <h1 class="headerTitle">
    Knowledge Sharing Portal
  </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky">
  <div class="container-fluid">
    <div class="navbar-brand companyName">
      Marvellous Groups
    </div>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" routerLinkActive="active" (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>

        <li class="nav-item" routerLinkActive="active" (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/book-list">List of Prerequisite</a>
        </li>

        <li class="nav-item" routerLinkActive="active" (click)="toggleNavbar()">
          <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>
      </ul>

      <!-- Dropdown menu using ngbootstrap -->
      <div ngbDropdown class="d-inline-block profileMenu" >
        <button class="btn btn-dark profileMenu" id="dropdownBasic1" ngbDropdownToggle>Rohit Kadam</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="toggleNavbar()">Profile</button>
          <button class="dropdown-item" (click)="toggleNavbar()">Logout</button>
        </div>
      </div>

    </div>
  </div>
</nav>