/* Set the fixed height of the footer here */
.footer {
    width: 100%;
    background-color: #0c0b0b;
    height: 50px; /* Set the fixed height of the footer here */
    vertical-align: middle;

}

@media only screen and (max-width: 2000px) 
{
    .footer{
      bottom: 0;
      text-align: right;
      position: fixed;
      z-index: 5;
      line-height: 50px; /* Vertically center the text there */
    }
}

@media only screen and (max-width: 750px) 
{
  .footer{
    text-align: center;
    position:relative;
    line-height: 32px; /* Vertically center the text there */
    margin-bottom: 0%;
  }
}


.mylink 
{
  color: #ccffcc;
}