<div>
  <h3>What is Knowledge Sharing Portal?</h3>
  <p>It is Angular based project. In this site you can see number of projects list by other people. 
    You can also add your own project that you want to shared with others.
  </p>
</div>

<hr>

<div>
    <h3>Technique or Technologies used in this project ?</h3>
    <ul>
      <li>All the basic Angular concept</li>
      <li>Service (dependence injection)</li>
      <li>Routing</li>
      <li>Inter component cummuication</li>
      <li>Dynamic UI</li>
      <li>Bootstrap4 and ngBootstrap</li>
      
    </ul>
</div>

<hr>

<div>
    <h3>Future Plan</h3>
    <ul>
      <li>FireBase Hosting</li>
      <li>Firestore Cloud(real time data)</li>
      <li>Firebase Authenication</li>
    </ul>
</div>
<!--
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="assets/G1.jpg">
      <img src="assets/G1.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Pre-Placement Activity Batch</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="assets/G2.jpg">
      <img src="assets/G2.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Logic Building Batch</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="assets/G3.jpg">
      <img src="assets/G3.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">UNIX Internals Batch</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="assets/G4.jpg">
      <img src="assets/G4.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Multi OS Programming Batch</div>
  </div>
</div>


</body>
<body>

    <h3>Marvellous Success</h3>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/1.jpgg">
          <img src="assets/5.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">.Net Framework with C#</div>
      </div>
    </div>
    
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/2.jpg">
          <img src="assets/6.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Pre-Placement Activity</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/3.jpg">
          <img src="assets/3.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Web Development using Angular</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/4.jpg">
          <img src="assets/4.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Logic Building</div>
      </div>
    </div>
    
    
    </body>



<body>

    <h3>Marvellous Batches</h3>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/Batch1.jpgg">
          <img src="assets/Batch1.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">.Net Framework with C#</div>
      </div>
    </div>
    
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/Batch3.jpg">
          <img src="assets/Batch3.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Pre-Placement Activity</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/Batch3.jpg">
          <img src="assets/Batch3.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Web Development using Angular</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/Batch4.jpg">
          <img src="assets/Batch4.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Logic Building</div>
      </div>
    </div>
-->
