<div>
  <h3>What is Knowledge Sharing Portal?</h3>
  <p>It is Angular based project. In this site you can see number of projects list by other people. 
    You can also add your own project that you want to shared with others.
  </p>
</div>

<hr>

<div>
    <h3>Technique or Technologies used in this project ?</h3>
    <ul>
      <li>All the basic Angular concept</li>
      <li>Service (dependence injection)</li>
      <li>Routing</li>
      <li>Inter component cummuication</li>
      <li>Dynamic UI</li>
      <li>Bootstrap4 and ngBootstrap</li>
      <li>Web site is fully responsive on desktop as well as on mobile</li>
      <li>FireBase Hosting</li>
    </ul>
</div>

<hr>

<div>
    <h3>Future Plan</h3>
    <ul>
      <li>Firestore Cloud(real time data)</li>
      <li>Firebase Authenication</li>
    </ul>
</div>

<hr>
<div>
  <h4> This Project credit goes to Piyush Khairnar sir</h4>
</div>

